<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit()" #f="ngForm">
        <div id="user-data" ngModelGroup="userData">
          <div class="form-group">
            <label for="username">Username</label>
            <input
              type="text"
              id="username"
              class="form-control"
              ngModel
              name="username"
              required
            />
            <span
              class="help-block"
              *ngIf="
                f.controls.username &&
                !f.controls.username.valid &&
                f.controls.username.touched
              "
              >Please enter a valid username!</span
            >
          </div>
          <button class="btn btn-default" type="button">
            Suggest an Username
          </button>
          <div class="form-group">
            <label for="email">Mail</label>
            <input
              type="email"
              id="email"
              class="form-control"
              ngModel
              name="email"
              required
              email
            />
            <span
              class="help-block"
              *ngIf="
                f.controls.email &&
                !f.controls.email.valid &&
                f.controls.email.touched
              "
              >Please enter a valid email!</span
            >
          </div>
        </div>
        <div id="userSecret" ngModelGroup="userSecret">
          <div class="form-group">
            <label for="secret">Secret Questions</label>
            <select
              id="secret"
              class="form-control"
              ngModel
              name="secret"
              required
            >
              <option value="pet">Your first Pet?</option>
              <option value="teacher">Your first teacher?</option>
            </select>
            <span
              class="help-block"
              *ngIf="
                f.controls.secret &&
                !f.controls.secret.valid &&
                f.controls.secret.touched
              "
              >Please enter a valid secret!</span
            >
          </div>
          <div class="form-group">
            <textarea
              class="form-control"
              rows="3"
              name="questionAnswer"
              [(ngModel)]="questionAnswer"
              required
            ></textarea>
            <span
              class="help-block"
              *ngIf="
                f.controls.questionAnswer &&
                !f.controls.questionAnswer.valid &&
                f.controls.questionAnswer.touched
              "
              >Please enter an answer!</span
            >
          </div>
        </div>
        <label for="gender">Gender</label>
        <div class="radio" *ngFor="let gender of genders">
          <label>
            <input
              type="radio"
              name="gender"
              ngModel
              [value]="gender"
              required
            />
            {{ gender }}
          </label>
        </div>
        <span
          class="help-block"
          *ngIf="
            f.controls.genders &&
            !f.controls.genders.valid &&
            f.controls.genders.touched
          "
          >Please enter a gender!</span
        >
        <button class="btn btn-primary" type="submit" [disabled]="!f.valid">
          Submit
        </button>
      </form>
    </div>
  </div>
</div>
